/.metadata/
/Servers/

.project
.classpath
.settings/

/threeStar/target/
/build/
/bin/
/threeStar/src/main/webapp/WEB-INF/spring

application-prod.properties
*.pem
*.key

*.log
*.tmp
*.bak
*.swp
*.class
Thumbs.db