<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.kh.tt.member.model.vo.Member" alias="Member"/>
        <typeAlias type="com.kh.tt.member.model.vo.Classes" alias="Classes"/>
        <typeAlias type="com.kh.tt.message.model.vo.Message" alias="Message"/>
        <typeAlias type="com.kh.tt.chat.model.vo.ChattingRoom" alias="Chat"/>
        <typeAlias type="com.kh.tt.profile.model.vo.Friend" alias="Friend"/>
        <typeAlias type="com.kh.tt.schedule.model.vo.Schedule" alias="Schedule"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/member-mapper.xml"/>
        <mapper resource="mappers/profile-mapper.xml"/>
        <mapper resource="mappers/message-mapper.xml"/>
        <mapper resource="mappers/chat-mapper.xml"/>
        <mapper resource="mappers/schedule-mapper.xml"/>
        <mapper resource="mappers/google-mapper.xml"/>
        <mapper resource="mappers/calendar-mapper.xml"/>
    </mappers>
</configuration>
