<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">

	<resultMap id="calendarResult" type="Calendar">
      <result column="cal_id" property="calId"/>
      <result column="cal_writer" property="calWriter"/>
      <result column="cal_title" property="calTitle"/>
      <result column="cal_content" property="calContent"/>
      <result column="cal_start" property="calStart"/>
      <result column="cal_end" property="calEnd"/>
	</resultMap>
	
	<insert id="InsertCalendar">
      insert
        into calendar
            (
             cal_id
           , cal_writer
           , cal_title
           , cal_content
           , cal_start
           , cal_end
           )
      values
          (
            SEQ_CAL_ID.NEXTVAL
          , #{calWriter}
          , #{calTitle}
          , #{calContent}
          , TO_DATE(#{calStart}, 'YYYY-MM-DD')
          , TO_DATE(#{calEnd}, 'YYYY-MM-DD')
          )
   </insert>
   
   <select id="SelectCalendar" resultMap="calendarResult">
		select
             cal_writer
           , cal_title
           , cal_content
           , cal_start
           , cal_end
		  from
			calendar
   		where cal_writer = #{calWriter}
   </select>

</mapper>
