<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">

   <resultMap id="chatResult" type="Chat">
      <result column="chat_id" property="chatId"/>
      <result column="ch_mem_no" property="chMemNo"/>
      <result column="chat_name" property="chatName"/>
      <result column="status" property="status"/>
   </resultMap>
   
   <!-- 1. 기존 채팅방 있는지 조회 -->
   <select id="findChatRoom" parameterType="map" resultType="int">
       SELECT c.CHAT_ID
       FROM CHATTING_ROOM c
       WHERE (c.CH_MEM_NO = #{myMemNo} AND EXISTS (
           SELECT 1 FROM CHATTING_ROOM
           WHERE CH_MEM_NO = #{targetMemNo}
           AND CHAT_ID = c.CHAT_ID
       ))
   </select>

   <!-- 2. 내 채팅방 INSERT (내가 먼저 생성) -->
   <insert id="createChatRoom" parameterType="map">
       INSERT INTO CHATTING_ROOM (
           CHAT_ID,
           CH_MEM_NO,
           CHAT_NAME,
           STATUS
       ) VALUES (
           SEQ_CHAT_ID.NEXTVAL,
           #{memNo},
           #{chatName},
           'Y'
       )
   </insert>

   <!-- 3. 방금 생성한 CHAT_ID 가져오기 -->
   <select id="selectLastChatId" resultType="int">
       SELECT SEQ_CHAT_ID.CURRVAL FROM dual
   </select>

   <!-- 4. 상대방도 같은 CHAT_ID로 INSERT -->
   <insert id="createTargetChatRoom" parameterType="map">
       INSERT INTO CHATTING_ROOM (
           CHAT_ID,
           CH_MEM_NO,
           CHAT_NAME,
           STATUS
       ) VALUES (
           #{chatId},
           #{targetMemNo},
           #{chatName},
           'Y'
       )
   </insert>

</mapper>
