<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messageMapper">

   <resultMap id="messageResult" type="Message">
      <result column="message_no" property="messageNo"/>
      <result column="message_content" property="messageContent"/>
      <result column="create_date" property="createDate"/>
      <result column="send_time" property="sendTime"/>
      <result column="origin_name" property="originName"/>
      <result column="change_name" property="changeName"/>
      <result column="ms_chat_id" property="msChatId"/>
      <result column="ms_mem_no" property="msMemNo"/>
   </resultMap>

    <insert id="insertMessage" parameterType="Message">
        INSERT INTO MESSAGE (
            MESSAGE_NO, 
            MESSAGE_CONTENT, 
            CREATE_DATE, 
            SEND_TIME, 
            ORIGIN_NAME, 
            CHANGE_NAME, 
            MS_CHAT_ID, 
            MS_MEM_NO
        ) VALUES (
            SEQ_MESSAGE_NO.NEXTVAL,
            #{messageContent},
            DEFAULT,
            DEFAULT,
            #{originName},
            #{changeName},
            #{msChatId},
            #{msMemNo}
        )
    </insert>

<!-- messageMapper.xml -->
<select id="sendMessage" parameterType="_int" resultType="Message">
  SELECT 
    MS.MESSAGE_NO,
    MS.MESSAGE_CONTENT,
    MS.CREATE_DATE,
    MS.SEND_TIME,
    MS.ORIGIN_NAME,
    MS.CHANGE_NAME,
    MS.MS_CHAT_ID,
    MS.MS_MEM_NO,
    M.MEM_NAME AS sender,
    MS.MESSAGE_CONTENT AS text,
    TO_CHAR(MS.SEND_TIME, 'YYYY-MM-DD"T"HH24:MI:SS') AS time
  FROM MESSAGE MS
  JOIN MEMBER M ON MS.MS_MEM_NO = M.MEM_NO
  WHERE MS.MS_CHAT_ID = #{roomId}
  ORDER BY MS.SEND_TIME
</select>







</mapper>